<h2>Latest titles</h2>

<div>
    <div id="pageNumber">
        <select class="custom-select" data-bind="options: pageSizes, selectedOptions: selectedPageSize"></select>
    </div>
    <div data-bind="foreach: latestTitles" class="row text-center">
        <div class="col-lg-4 col-md-6">
            <div class="card card-latest shadow-">
                <div class="card-header">
                    <div class="my-0 font-weight-normal" data-bind="text: primaryTitle"></div>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li data-bind="text: genre"></li>
                        <li data-bind="text: startYear"></li>
                        <li>
                            <i class="far fa-clock"></i>
                            <span data-bind="text: runtime"></span> min
                        </li>
                    </ul>
                    <button id="showDetails" type="button" class="btn btn-lg btn-block btn-outline-warning" data-toggle="modal" data-target="#modalDetailsTitle" data-bind="click: $parent.selectLatestTitle">Show details</button>
                    <button id="showDetails" type="button" class="btn btn-lg btn-block btn-outline-danger" data-toggle="modal" data-target="#modalDetailsTitle" data-bind="click: $parent.selectLatestTitle">Save to bookmarks</button>
                </div>
            </div>
        </div>
    </div>

    <div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" data-bind="click: showPrev, enable: enablePrev"><a class="page-link">Previous</a></li>
                <li class="page-item" data-bind="click: showNext, enable: enableNext"><a class="page-link">Next</a></li>
            </ul>
        </nav>
    </div>


    <div id="modalDetailsTitle" class="modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable modal-xl">
            <div class="modal-content">
                <div class="modal-body">
                    <div><latest-title-details params="latestTitle: selectedLatestTitle, currentUser: currentUser"></latest-title-details></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <div id="modalEpisodesTitle" class="modal" tabindex="-1" data-bind="if: episodesUrl()">
        <div class="modal-dialog modal-dialog-scrollable modal-xl">
            <div class="modal-content">
                <div class="modal-body">
                    <div><title-episodes params="episodes: episodesUrl, currentUser: currentUser"></title-episodes></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->

<footer id="footer">
    <div class="col-md-12 col-sm-6">
        <ul class="social-network social-circle">
            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#" class="icoTwitter" title="Twitter"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#" class="icoGoogle" title="Google +"><i class="fab fa-google-plus"></i></a></li>
        </ul>
    </div>
    <p>© Copyright 2020 Movies4All</p>

</footer>


