<div class="container">
    <div data-bind="with: person">

        <div class="row">
            <h3 class="col-lg-12" data-bind="text: name"></h3>

        </div>
        <div class="row">
            <div class="col-lg-12">
                <h5 data-bind="text: birthYear"></h5>
                <h5 data-bind="text: deathYear"></h5>
            </div>
        </div>


    </div>
    <div class="row">
        <div class="col-lg-12" data-bind="visible: knownFor().length > 0">
            <div data-bind="foreach: knownFor">

                <div class="row row-know">
                    <div class="col-lg-10" data-bind="text: primaryTitle">

                    </div>

                    <div class="col-lg-1">
                        <a class="btn btn-outline-light " data-bind="click: $parent.goToTitle.bind($data, titleUrl)"><em class="fas fa-info"></em></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <button id="showDetails" type="button" class="btn btn-md btn-block btn-outline-danger" data-bind="click: goToNotes.bind($data, person)">Add person</button>
        </div>
    </div>
</div>

<style>

    .row-know{
        margin-bottom: 2%;
    }
    .button-row {
        margin-bottom: 2%;
    }

    #cast-li {
        background-color: #112642;
    }

    .similarTitles {
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        text-align: justify;
        text-justify: auto;
    }

    .cast {
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        text-align: center;
        text-justify: auto;
    }

    .plot {
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        text-align: justify;
        text-justify: auto;
    }

    @media (max-width: 990px) {

        #image-detail {
            margin-top: 10%;
        }
    }
</style>

