
<div class="container">
    <div class="row" data-bind="with: person">
        <div data-bind="text: name"></div>
        <div data-bind="text: birthYear"></div>
        <div data-bind="text: deathYear"></div>
    </div>
    <div data-bind="visible: knownFor().length > 0">
        <div lass="row" data-bind="foreach: knownFor">

            <div data-bind="text: primaryTitle"></div>
            <div class="col-4">
                <a class="btn btn-outline-light" data-bind="click: $parent.goToTitle.bind($data, titleUrl)"><em class="fas fa-info"></em></a>
            </div>
        </div>
    </div>

</div>





<style>

    .button-row {
        margin-bottom: 2%;
    }

    #cast-li {
        background-color: #112642;
    }

    .similarTitles {
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        text-align: justify;
        text-justify: auto;
    }

    .cast {
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        text-align: center;
        text-justify: auto;
    }

    .plot {
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        text-align: justify;
        text-justify: auto;
    }

    @media (max-width: 990px) {

        #image-detail {
            margin-top: 10%;
        }
    }
</style>

