
<div class="container">
    <div class="row">
        <div class="col-6">
            <h5>Title name</h5>
        </div>
        <div class="col-3">
            <h5>Episode number</h5>
        </div>
        <div class="col-3">
            <h5>Season number</h5>
        </div>
    </div>
    <br>
    <div class="row" data-bind="foreach: episodes">
       
        <div class="col-6 titles">
            <p data-bind="text: title"></p>
        </div>

        <div class="col-3">
            <p data-bind="text: episodeNumber"></p>
        </div>

        <div class="col-3">
            <p data-bind="text: seasonNumber"></p>
        </div>

    </div>
</div>

<style>

    .titles{
        text-align: left;
    }

</style>


