
<div class="container">
    <div class="row" data-bind="foreach: episodes">
        <p data-bind="text: title"></p>
        <hr>
        <p data-bind="text: seasonNumber"></p>
        <hr>
        <p data-bind="text: episodeNumber"></p>
    </div>
</div>





<style>

    .button-row {
        margin-bottom: 2%;
    }

    #cast-li {
        background-color: #112642;
    }

    .similarTitles {
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        text-align: justify;
        text-justify: auto;
    }

    .cast {
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        text-align: center;
        text-justify: auto;
    }

    .plot {
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        text-align: justify;
        text-justify: auto;
    }

    @media (max-width: 990px) {

        #image-detail {
            margin-top: 10%;
        }
    }
</style>

