
<div class="row">
    <div class="col-md-12">
        <h4>Bookmarks</h4>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12" data-bind="foreach: bookmarkList">
        <div class="form-group row">
            <label for="username" class="col-4">favorite title</label>
            <div class="col-8">
                <p id="username" name="username" data-bind="text: favoriteTitleUrl">  </p>
            </div>
            <button type="button" class="btn btn-warning">Go To Title</button>
        </div>

        <div class="form-group row">
            <label for="firstname" class="col-4">Notes</label>
            <div class="col-8">
                <p id="firstname" name="firstname" data-bind="text: notes"></p>
            </div>
        </div>
        <hr>
    </div>
</div>