<div class="row">
    <div class="col-md-12">
        <h4>Unsubscribe</h4>
        <hr>
    </div>
</div>

<div class="row unsubscribe_description">
    <div class="col-sm-12">
        <h6>I want to remove my email and unsubscribe from your service.</h6>
    </div>
</div>

<div class="row unsubscribe_description">
    <div class="col-sm-12">
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalForUnsubscribe" data-dismiss="modal">I agree</button>
    </div>
</div>

<div id="modalForUnsubscribe" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable modal-md">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <p>Are you really sure you want to unsubscire?</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">Yes</button>
                        <button type="button" class="btn btn-warning btn-lg" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>

    .unsubscribe_description {
        margin-top: 7%;
    }
</style>