<div class="container">
    <div class="col-lg-12">
        <form class="box needs-validation" data-bind="submit: createUser" novalidate>
            <h3>Register</h3>

            <div class="form-row">
                <div class="col-md-6 mb-6">
                    <label for="validationCustom01">First name</label>
                    <input type="text" class="form-control" id="validationCustom01" data-bind="value:firstName" placeholder="First name" required>
                    <div class="valid-feedback">
                        ✅
                    </div>
                </div>
                <div class="col-md-6 mb-6">
                    <label for="validationCustom02">Last name</label>
                    <input type="text" class="form-control" id="validationCustom02" data-bind="value:lastName" placeholder="Last name" required>
                    <div class="valid-feedback">
                        ✅
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 mb-12">
                    <label for="validationCustom01">Username</label>
                    <input type="text" class="form-control" id="validationCustom03" data-bind="value:userName" placeholder="Username" required>
                    <div class="valid-feedback">
                        ✅
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 mb-12">
                    <label for="validationCustom02">Email</label>
                    <input type="email" class="form-control" id="validationCustom04" data-bind="value:email" placeholder="Email" required>
                    <div class="valid-feedback">
                        ✅
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-12 mb-12">
                    <label for="validationCustom05">Birthday</label>
                    <div class="form-group">
                        <input type="date" name="bday" max="3000-12-31"
                               min="1000-01-01" data-bind="value:birthDay" class="form-control">
                    </div>
                    <div class="valid-feedback">
                        ✅
                    </div>

                </div>
            </div>

            <div class="form-row">
                <div class="col-md-6 mb-6">
                    <label for="validationCustom06">Password</label>
                    <input type="password" class="form-control" id="validationCustom06" data-bind="value: password" placeholder="Password" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-6 mb-6">
                    <label for="validationCustom07">Repeat password</label>
                    <input type="password" class="form-control" id="validationCustom07" data-bind="value: repeatPassword" placeholder="Repeat password" required>
                    <div class="valid-feedback">
                        ✅
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-6">
                    <label for="validationCustom08">City</label>
                    <input type="text" class="form-control" data-bind="value: city" id="validationCustom08" required>
                    <div class="invalid-feedback">
                        ❌
                    </div>
                </div>
                <div class="col-md-6 mb-6">
                    <label for="validationCustom09">Country</label>
                    <input type="text" class="form-control" id="validationCustom09" data-bind="value: country" placeholder="Country" required>

                    <!--<select class="form-control countrypicker" data-default="DE"></select>

                    <script>
                        $('.countrypicker').countrypicker();
                    </script>-->
                    <div class="invalid-feedback">
                        Please select a valid state.
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-4">
                    <label for="validationCustom10">Street name</label>
                    <input type="text" class="form-control" data-bind="value: streetName" id="validationCustom10" required>
                    <div class="invalid-feedback">
                        ❌
                    </div>
                </div>

                <div class="col-md-4 mb-4">
                    <label for="validationCustom11">Street Number</label>
                    <input type="text" class="form-control" data-bind="value:streetNumber" id="validationCustom11" required>
                    <div class="invalid-feedback">
                        ❌
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <label for="validationCustom12">Zip</label>
                    <input type="text" class="form-control" data-bind="value: zipCode" id="validationCustom012" required>
                    <div class="invalid-feedback">
                        ❌
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Confirm</button>

            <div class="col-md-12 col-sm-6">
                <ul class="social-network social-circle">
                    <li><a href="#" class="icoFacebook" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#" class="icoTwitter" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#" class="icoGoogle" title="Google +"><i class="fab fa-google-plus"></i></a></li>
                </ul>
            </div>
        </form>
    </div>
</div>

<script>

    // Example starter JavaScript for disabling form submissions if there are invalid fields

    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>

<script src="//unpkg.com/bootstrap-select@1.12.4/dist/js/bootstrap-select.min.js"></script>

<script src="//unpkg.com/bootstrap-select-country@4.0.0/dist/js/bootstrap-select-country.min.js"></script>


