<div data-bind="with: latestTitle">
    <h3 data-bind="text: primaryTitle"></h3>

    <div class="col-lg-12">
        <h5 data-bind="text: genre"></h5>
        <h6 data-bind="text: startYear"></h6>

        <div data-bind="visible: runtime">
            <h6> <span data-bind="text: runtime"></span> minutes</h6>
        </div>
    </div>
</div>
<hr>

<div class="container container-details">
    <div class="row">
        <div class="col-lg-6">
            <div data-bind="if: poster() !== 'N/A'">
                <img class="title-image" alt="Qries" data-bind="attr:{src: poster}"
                     width="300" height="350">
            </div>
            <div data-bind="visible: episodes() ">
                <button id="showDetails" type="button" class="btn btn-lg btn-block btn-outline-danger" data-bind="click: goToEpisodes">See episodes</button>
            </div>
            <div data-bind="visible: similarTitles().length > 0">
                <h3>Similar titles</h3>
                <div class="similarTitles">
                    <ul class="list-group list-group-flush" data-bind="foreach: similarTitles">
                        <li id="cast-li" class="list-group-item">
                            <a class="btn btn-dark info-button" data-bind="click: $parent.goToTitle.bind($data, titleUrl)"><em class="fas fa-info"></em></a>
                            <span data-bind="text: primaryTitle"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <p style="font-size:60px">🎬</p>
            <h3><span data-bind="text: rating"></span> / 10</h3>
            <hr>
            <h3>Number of votes</h3>
            <h3 data-bind="text: numVotes"></h3>
            <hr>
            <div data-bind="visible: plot() !== 'N/A'">
                <h3>Plot</h3>
                <div class="plot" data-bind="text: plot"></div>
                <hr>
            </div>

            <h3>Cast</h3>
            <div class="cast">
                <ul class="list-group list-group-flush" data-bind="foreach: principals">
                    <li id="cast-li" class="list-group-item cast-li-right">
                        <span data-bind="text: name"></span> enrolled as <span data-bind="text: category"></span>
                        <a class="btn btn-dark info-button" data-bind="click: $parent.showPerson.bind($data, personUrl)"><em class="fas fa-info"></em></a>
                        </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<style>

    .container-details {
        margin-bottom: 5%;
    }

    .info-button{
        margin-left: 10%;
    }

    .title-image {
        margin-bottom: 5%;
    }

    .button-row {
        margin-bottom: 2%;
    }

    #cast-li {
        background-color: #112642;
    }

    .cast-li-right {
        text-align: right;
    }

    .similarTitles {
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        text-align: justify;
        text-justify: auto;
    }

    .cast {
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
    }


    .plot {
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        text-align: justify;
        text-justify: auto;
    }

    @media (max-width: 990px) {

        #image-detail {
            margin-top: 10%;
        }
    }
</style>

