<h2>Genres</h2>

<ul class="list-genres" data-bind="foreach: genres">
    <li data-bind="text: genre"></li>
</ul>


<style>

    .list-genres {
        columns: 7;
        -webkit-columns: 7;
        -moz-columns: 7;
        background-color: #232931;
        border-radius: 20px;
        padding: 2%;
        list-style-type: none;
    }

    @media (max-width: 1100px) {

        .list-genres {
            columns: 4;
            -webkit-columns: 4;
            -moz-columns: 4;
        }
    }

    @media (max-width: 700px) {

        .list-genres {
            columns: 3;
            -webkit-columns: 3;
            -moz-columns: 3;
        }
    }

    @media (max-width: 500px) {

        .list-genres {
            columns: 2;
            -webkit-columns: 2;
            -moz-columns: 2;
        }
    }
</style>