<div class="container">
    <h2>Features</h2>
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <div class="card text-center">
                    <div class="card-header">
                        <h4>Marie-Danielle Dadie</h4>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">Database & Backend Enthusiast</h6>
                        <p>Co-op student in multimedia data engineering and service development</p>
                        <a href="#" class="btn btn-primary">Contact me!</a>
                    </div>
                    <div class="card-footer text-muted">
                        Rennes, France
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card text-center">
                    <div class="card-header">
                        <h4>Marko Živko</h4>
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">CS Student and Developer</h6>
                        <p>iOS Developer | Swift Instructor | Technology Innovation & CX</p>
                        <a href="#" class="btn btn-primary">Contact me!</a>
                    </div>
                    <div class="card-footer text-muted">
                        Zagreb, Croatia
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer id="footer">
        <div class="col-md-12 col-sm-6">
            <ul class="social-network social-circle">
                <li><a href="#" class="icoFacebook" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#" class="icoTwitter" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#" class="icoGoogle" title="Google +"><i class="fab fa-google-plus"></i></a></li>
            </ul>
        </div>
        <p>© Copyright 2020 Movies4All</p>

    </footer>
</div>

<style>

    p {
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
    }

</style>





