<section id="features">

    <h2>Features</h2>
    <div class="row">
        <div class="col-lg-4">
            <i class="fas fa-check-circle fa-5x"></i>
            <h4>Easy to use.</h4>
        </div>

        <div class="col-lg-4">
            <i class="fas fa-video  fa-5x"></i>
            <h4>Biggest collection of movies ever.</h4>
        </div>

        <div class="col-lg-4">
            <i class="fas fa-heart fa-5x"></i>
            <h4>Save your favorites.</h4>
        </div>
    </div>
</section>

<!-- Footer -->

<footer id="footer">
    <i class="fab fa-facebook-f social-icon"></i>
    <i class="fab fa-instagram social-icon"></i>
    <i class="fas fa-envelope social-icon"></i>
    <p>© Copyright 2020 Movies4All</p>
</footer>


