body {
    font-family: 'Limelight', cursive;
    text-align: center;
    color: #dbd8e3;
    background-image: url("https://images.pexels.com/photos/109669/pexels-photo-109669.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

.navbar {
    padding: 0.5em 2em 0.5rem;
    color: #dbd8e3;
    background-color: #232931;
}

.nav-item {
    padding: 0 15px;
}

.navbar-brand {
    font-size: 1.8rem;
}

.container-fluid {
    padding: 3% 12%;
}

.modal-content {
    background-color: #112642;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #fff;
    margin: 1em 0;
    padding: 0;
}

h1 {
    font-size: 3.7rem;
    line-height: 1.5;
    font-weight: bold;
    margin-bottom: 20px;
}

h2 {
    font-weight: bold;
    line-height: 1.5;
    font-size: 2.3rem;
    color: #dbd8e3;
    padding-top: 2%;
    padding-bottom: 2%;
}

.fas {
    color: #dbd8e3;
}


h4 {
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: bold;
    color: #dbd8e3;
}

#pricing1 {
    padding: 10px 30px 20px 30px;
}

.pricing-plan {
    text-align: center;
    margin: 10px;
    margin-bottom: 5%;
}

.card {
    margin-bottom: 50px;
    height: 270px;
    background-color: #232931;
}


#footer {
    margin-top: 2%;
    margin-bottom: 2%;
}

@media (max-width: 776px) {

    #pricing1 {
        padding: 10px 50px 20px;
    }

}